<!--suppress BuyFluidPluginNoteInspection -->
<div *ngFor="let item of cartItems">
  <div class="ui grid">
    <div class="four wide column">
      <img class="ui large image" *ngIf="item.book.images && item.book.images[0]"
           [src]="item.book.images[0].url">
    </div>
    <div class="twelve wide column">
      <h1 class="ui header">{{ item.book.title }}</h1>
      <h3 class="ui header">{{ item.book.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">Autoren</h4>
          <span *ngFor="let author of item.book.authors; last as l">
           {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
         </span>
        </div>
        <div class="two wide column">
          <h4 class="ui header">ISBN</h4>
          <input formcontrolname="isbn" ng-reflect-name="isbn" type='hidden' class="ng-untouched ng-pristine ng-valid" value="{{item.book.isbn}}">
          {{ item.book.isbn }}
        </div>
        <div class="three wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ item.book.published }}
        </div>
        <div class="three wide column">
          <h4 class="ui header">Rating</h4>
          <i *ngFor="let r of getRating(item.book.rating)" class="yellow star icon"></i>
        </div>
        <div class="two wide column">
          <h4 class="ui header">Menge</h4>
          <select [(ngModel)]="item.quantity" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="two wide column">
          <button class="ui tiny yellow button labeled icon right floated" (click)="removeBook(item.book.id, item.book.isbn)">
            <i class="remove icon"></i>Löschen
          </button>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <input formcontrolname="price" ng-reflect-name="price" type='hidden' class="ng-untouched ng-pristine ng-valid" value="{{item.book.price}}">
      <div class="extra">EUR {{ item.book.price }}€</div>
    </div>
    <div class="sixteen wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ item.book.description }}
    </div>
  </div>
</div>

<div>
  <button *ngIf="cartItems.length" class="ui tiny yellow button labeled icon right floated" (click)="buyItems()">
    <i class="write icon"></i>Bestellung abschicken
  </button>
</div>

<div>
  <p *ngIf="!cartItems.length">
    Es sind keine Bücher vorhanden!
  </p>
</div>

