<!--suppress BuyFluidPluginNoteInspection -->
<div class="ui grid" *ngIf="book">
  <div class="four wide column">
    <img class="ui large image" *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book.title }}</h1>
    <h3 class="ui header">{{ book.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">ISBN</h4>
        {{ book.isbn }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ book.published }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">Rating</h4>
        <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="extra">EUR {{ book.price }}€</div>
  </div>
  <div class="fourteen wide column">
    <button *ngIf="authService.isLoggedIn()"  class="ui tiny blue button labeled icon"
            (click)="addtoCart()">
      <i class="add icon"></i>Buch zum Warenkorb hinzufügen</button>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ book.description }}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
      <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
    </div>
  </div>
</div>

<button *ngIf="authService.isAdmin()"  class="ui tiny yellow button labeled icon"
        [routerLink]="['../../admin', book?.isbn]">
  <i class="write icon"></i>Buch bearbeiten</button>

<button *ngIf="authService.isAdmin()"  class="ui tiny red button labeled icon"
        (click)="removeBook()">
  <i class="remove icon"></i>Buch löschen</button>