<!--The content below is only a placeholder and can be replaced.

  <h1>
    Welcome to {{ title | uppercase }}!
  </h1>
Person: {{person?.name}}

<!-- Property Binding
<p>
  <a [href]="myUrl">Ein Link</a>
</p>

<!-- Event Binding
<button (click)="myClickHandler()">Click me</button>


<!-- Two Way Binding
<p>
  <input type="text" [(ngModel)]="title"/>
</p>

<div *ngIf="true">
  Lorem Ipsum
</div>
<div *ngIf="false">
  Lorem Ipsum
</div>
</div>-->

<div class="ui secondary  menu">
  <a routerLink="home" routerLinkActive="active" class="item">
    <i class="home icon"></i>
  </a>
  <a routerLink="books" routerLinkActive="active" class="item">
    Bücher
  </a>
  <a *ngIf="isAdmin()" routerLink="admin" routerLinkActive="active" class="item">
    Administration
  </a>
  <div class="right menu">
    <a routerLink="login" routerLinkActive="active" class="item">
      {{getLoginLabel()}}
    </a>
    <a *ngIf="isLoggedIn()" routerLink="cart" routerLinkActive="active" class="item">
      <i class="shopping cart icon"></i>
    </a>
    <a *ngIf="isLoggedIn()" routerLink="order" routerLinkActive="active" class="item">
      Order
    </a>
    <a *ngIf="isAdmin()" routerLink="orders" routerLinkActive="active" class="item">
      Manager
    </a>
  </div>
</div>


<router-outlet></router-outlet>