<div>
    <div class="ui grid" *ngIf="order">
      <div class="twelve wide column">
      </div>
      <div class="five wide column">
        <p class="extra">Bestellung wurde durchgeführt am: {{ order.date }}</p>
      </div>
      <div class="five wide column">
        <p class="extra">Summe: {{ order.total }}€</p>
      </div>
      <div class="three wide column">
        <div class="ui">Status deiner Bestellung: {{order.status}}
        </div>
      </div>

    </div>
  </div>
<div>
</div>