<div>
  <div class="ui grid" *ngIf="order">
    <div class="twelve wide column">
      <p>Bestellung {{order.id}}</p>
    </div>
    <div class="five wide column">
      <p class="extra">Datum: {{ order.date }}</p>
    </div>
    <div class="five wide column">
      <p class="extra">Summe: {{ order.total }}€</p>
    </div>
    <div class="three wide column">
      <div class="ui">Status:
        <select [(ngModel)]="order.status" >
          <option *ngFor="let status of statuses" ngValue="{{status}}" [selected]="status == order.status">
            {{status}}
          </option>
        </select>
      </div>
      <div class="ui">Kommentar:
        <input [(ngModel)]="order.comment">
      </div>

    </div>

    </div>
  </div>
<div>
  <p></p>
<button class="ui mini blue button labeled icon" (click)="changeStatus()">
        <i class="redo icon"></i>Bestellung ändern</button>
<button class="ui mini orange button" [routerLink]="order.id">Bestellung ansehen</button>
  <P></P>
</div>