<div class="ui middle aligned selection divided list">
  <h1>Bestellungen</h1>
  <!--<div class="ui grid">
    <div class="four wide column">Sortiert nach:</div>
    <div class="two wide column">
      <p class="extra"><button class="ui mini yellow button" (click)="changeStatus()">
        Benutzer</button></p>
    </div>
    <div class="two wide column">
      <p class="extra"><button class="ui mini yellow button" (click)="changeStatus()">
        Chronologisch</button></p>
    </div>
    <div class="two wide column">
      <div class="ui"><button class="ui mini yellow button" (click)="changeStatus()">
        Status</button>
      </div>

    </div>

  </div>-->
  <p *ngFor="let order of orders" class="item bs-orders-item" [order]="order" >
  >
    Hello
  </p>
</div>