<!--<div class="ui grid">
  <div class="one wide column"></div>
  <div class="five wide column">
     <img class="ui small image"
         *ngIf="book.images"
         [src]="book.images[0].url">
  </div>
  <div class="seven wide column">
    <div class="ui header blue"><h3>{{ book.title }}</h3></div>
    <div class="description"> {{ book.subtitle }} </div>
    <div class="metadata">
        <span *ngFor="let author of book.authors; last as l">
          {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
        </span>
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="one wide column"></div>
  <div class="eleven wide column">
    <div class="extra">PREIS: {{ book.price }}€</div>
  </div>
</div>-->
<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img class="ui tiny image"
           *ngIf="book.images"
           [src]="book.images[0].url">
    </div>
    <div class="content">
      <div class="header">{{ book.title }}</div>
      <div class="meta">
        <p>{{ book.subtitle }}</p>
      </div>
      <div class="description">
        <span *ngFor="let author of book.authors; last as l">
          {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
        </span>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{ book.price }}€
      </span>
      <span>
      </span>
    </div>
  </div>
</div>