<div class="ui middle aligned selection">
  <h1>Deine Bestellübersicht</h1>
  <p *ngFor="let order of orders" class="item bs-order-item" [order]="order">
</div>
<div *ngIf="!orders.length">
  <p>Es wurden noch keine Bestellungen abgeschickt!</p>
</div>