<h1>Bestelldetails:</h1>

<div class="ui grid">
  <div class="one wide column"></div>
  <div *ngFor="let item of cartItems" class="four wide column">
  <div class="ui link cards">
      <div class="card">
        <div class="content">
          <div class="header">{{ item.book.title }}</div>
          <div class="meta">
            <p>{{ item.book.subtitle }}</p>
          </div>
          <div class="description">
            <span *ngFor="let author of item.book.authors; last as l">
               Autor: {{ author.firstName }} {{ author.lastName }} </span><br/>
              Veröffentlich am: {{ item.book.published }}<br/>
               Menge: {{ item.quantity }}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{ item.book.price }} €
          </span>
          <span>
            {{ item.book.isbn }}
          </span>
        </div>
      </div>
  </div>
  </div>
</div>

<!--<div *ngFor="let item of cartItems" class="item bs-orders-detail-details-item">
  <div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="twelve wide column">
      <h2 class="ui header">{{ item.book.title }}</h2>
      <h3 class="ui header">{{ item.book.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">Autoren</h4>
          <span *ngFor="let author of item.book.authors; last as l">
           {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
         </span>
        </div>
        <div class="three wide column">
          <h4 class="ui header">ISBN</h4>
          <input formcontrolname="isbn" ng-reflect-name="isbn" type='hidden' class="ng-untouched ng-pristine ng-valid" value="{{item.book.isbn}}">
          {{ item.book.isbn }}
        </div>
        <div class="three wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ item.book.published }}
        </div>
        <div class="three wide column">
          <h4 class="ui header">Menge</h4>
          <p>{{item.quantity}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="eleven wide column">
      <div class="extra">{{item.book.price}}€</div>
    </div>
  </div>
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="eleven wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ item.book.description }}
    </div>
  </div>
  <br/>
  <br/>
</div>-->

<h3>Order History: </h3>
<div *ngFor="let status of statuses" class="ui grid">
  <div class="one wide column"></div>
  <div  class="eleven wide column">
    <!-- <p class="two wide column">{{status.created_at | date: 'dd/MM/yyyy'}}</p> -->
    <p class="two wide column">{{status.created_at}}</p>
    <p class="six wide column">{{status.status}}</p>
  </div>
</div>

<div class="ui grid">
  <div  class="twelve wide column"></div>
  <div class="two wide column">
    <button class="ui mini blue button" [routerLink]="['../../orders']">Zurück</button>
  </div>
</div>


